@model List<Facturacion.Models.Vendedores>

@{
    ViewBag.Title = "Vendedores";
}

<img src="~/Imagenes/users.png" />

<div class="panel panel-default">

    <div class="panel-heading">CLIENTES</div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nombre</th>
               <th>Correo</th>
                <th>Direccion</th>
                <th>Telefono</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @for (int i = 0; i < Model.Count(); i++)
            {
                <tr>
                    <td>@Model[i].Nombre</td>
                    <td>@Model[i].Correo</td>
                    <td>@Model[i].Direccion</td>
                    <td>@Model[i].Telefono</td>
                    <td>
                        <a href="@Url.Action("Delete", new { id = Model[i].VendedorID})"><i class="glyphicon glyphicon-trash"></i></a>
                    </td>
                    <td>
                        <a href="@Url.Action("Edit", new { id = Model[i].VendedorID})"><i class="glyphicon glyphicon-edit"></i></a>
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>

<p>
    @Html.ActionLink("Nuevo Vendedor", "Create")
</p>
